<!DOCTYPE html>

<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap" rel="stylesheet">

    <!-- font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>

<body style="display: block; background: rgb(231, 138, 72);">
    <div class="background-overlay">
        <nav class="navbar fixed-top bg-light" style="background-color: #f1e5daa3 !important;">
            <div class="container-fluid">
                <button class="border-0 admin-panel-sidebar-toggle" id="sidebarToggle">
                    <i class="fa fa-navicon" style="background-size: contain;"></i>
                </button>
                <img src="/assets/img/casinocom-logo.png" style="height: 100%;"></img>
                <span class="navbar-text" style="padding: 0;align-self: center;">Admin Panel</span>
            </div>
        </nav>
        <div class="container-fluid" style="height: 85vh;">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase mb-3"> Registered Users</h5>
                            <div class="table-responsive">
                                <table class="table no-wrap user-table mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-uppercase font-medium pl-4">#</th>
                                            <th scope="col" class="text-uppercase font-medium">Name</th>
                                            <th scope="col" class="text-uppercase font-medium">Username</th>
                                            <th scope="col" class="text-uppercase font-medium">Email</th>
                                            <th scope="col" class="text-uppercase font-medium">Registered</th>
                                            <th scope="col" class="text-uppercase font-medium">Paid</th>
                                            <th scope="col" class="text-uppercase font-medium">Manage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (users && users.length) { %>
                                            <% for(var i=0;i < users.length;i++){ %>
                                                <tr>
                                                    <td class="pl-4">
                                                        <%=i+1%>
                                                    </td>
                                                    <td>
                                                        <h5 class="font-medium mb-0">
                                                            <%=users[i].name%>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">
                                                            <%=users[i].username%>
                                                        </span><br>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">
                                                            <%=users[i].email%>
                                                        </span><br>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">
                                                            <%=users[i].date.getDate()%>/<%=users[i].date.getMonth()+1%>
                                                                    /
                                                                    <%=users[i].date.getFullYear()%>
                                                        </span><br>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">
                                                            <%if (users[i].add_info){%> <i class="fa fa-check"></i>
                                                                <%}else{%><i class="fa fa-close"></i>
                                                                    <%}%>
                                                        </span><br>
                                                    </td>
                                                    <td>
                                                        <button type="button"
                                                            class="btn btn-secondary btn-circle btn-lg btn-circle ml-2"
                                                            disabled><i class="fa fa-edit"></i> </button>
                                                        <button type="button"
                                                            class="btn btn-secondary btn-circle btn-lg btn-circle ml-2"
                                                            disabled><i class="fa fa-trash"></i> </button>
                                                        <button type="button"
                                                            class="btn btn-secondary btn-circle btn-lg btn-circle ml-2"
                                                            disabled><i class="fa fa-user-times"></i> </button>
                                                    </td>
                                                </tr>
                                                <% }} else{ %>
                                                    <div style="text-align: center;margin: 7vh;font-size: 1.35rem">
                                                        <strong> There are no registered users yet. </strong> <br />
                                                    </div>
                                                    <%} %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>